<html>
	<head>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>

	<body>

    {% if error %}
        <p class="error"> {{ error }} </p>
    {% endif %}
		<form action="/login" method="POST"  onsubmit="return checkform(this);">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
					</div>

					<div class="login-form">
						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username" required>
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password" required>
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

<!--						<div class="captchaText">
						<p class="captchaText"> {{ captcha }} </p>
						<label class="login-field-icon fui-lock" for="login-captcha"></label> -->
<!--						</div>
					<div class="captcha">
						<input type="captcha" class="login-field" value="" placeholder="Result of operation" name="captcha" required>
						<input type="hidden" name="captcha_saved" value={{captcha}}>
						<label class="login-field-icon fui-lock" for="login-captcha"></label>
						</div>  -->

						<!-- START CAPTCHA -->
						<br>
						<div class="capbox">

						<div id="CaptchaDiv"></div>

						<div class="capbox-inner">
						Type the above number:<br>

						<input type="hidden" id="txtCaptcha">
						<input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

						</div>
						</div>
						<br><br>
						<!-- END CAPTCHA -->


						<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
						<br>
					</div>
				</div>
			</div>
		</form>
			<script type="text/javascript">

		// Captcha Script

		function checkform(theform){
		var why = "";

		if(theform.CaptchaInput.value == ""){
		why += "- Please Enter CAPTCHA Code.\n";
		}
		if(theform.CaptchaInput.value != ""){
		if(ValidCaptcha(theform.CaptchaInput.value) == false){
		why += "- The CAPTCHA Code Does Not Match.\n";
		}
		}
		if(why != ""){
		alert(why);
		return false;
		}
		}

		var a = Math.ceil(Math.random() * 9)+ '';
		var b = Math.ceil(Math.random() * 9)+ '';
		var c = Math.ceil(Math.random() * 9)+ '';
		var d = Math.ceil(Math.random() * 9)+ '';
		var e = Math.ceil(Math.random() * 9)+ '';

		var code = a + b + c + d + e;
		document.getElementById("txtCaptcha").value = code;
		document.getElementById("CaptchaDiv").innerHTML = code;

		// Validate input against the generated number
		function ValidCaptcha(){
		var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
		var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
		if (str1 == str2){
		return true;
		}else{
		return false;
		}
		}

		// Remove the spaces from the entered and generated code
		function removeSpaces(string){
		return string.split(' ').join('');
		}
		</script>
	</body>
</html>




