<html>
	<head>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>

	<body>

    {% if error %}
        <p class="error"> {{ error }} </p>
    {% endif %}
		<form action="/login" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Inicio de sesión</h1>
					</div>

					<div class="login-form">
						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username" required>
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password" required>
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<div class="captchaText">
						<p class="captchaText"> {{ captcha }} </p>
						<label class="login-field-icon fui-lock" for="login-captcha"></label>

						</div>
					<div class="captcha">
						<input type="captcha" class="login-field" value="" placeholder="Result of operation" name="captcha" required>
						<input type="hidden" name="captcha_saved" value={{captcha}}>
						<label class="login-field-icon fui-lock" for="login-captcha"></label>

						</div>

						<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
						<br>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>




