<html>
	<head>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>

	<body>

    {% if error %}
        <p class="error"> {{ error }} </p>
    {% endif %}
		<form action="/login" method="POST"  onsubmit="return checkform(this);">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">

						<h1>Login</h1>

					</div>

					<div class="login-form">
						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username" required>
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password" required>
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>


						<!-- START CAPTCHA -->
                        <body onLoad="ChangeCaptcha()">

                        <input type="text" id="randomfield" disabled>
                        <input id="CaptchaEnter" size="20" maxlength="6" />

						<!-- END CAPTCHA -->


						<input type="submit" value="Log in"  class="btn btn-primary btn-large btn-block" >
						<br>
					</div>
				</div>
			</div>
		</form>
			<script type="text/javascript">

			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                var string_length = 6;
                var ChangeCaptcha = '';
                for (var i=0; i<string_length; i++) {
                    var rnum = Math.floor(Math.random() * chars.length);
                    ChangeCaptcha += chars.substring(rnum,rnum+1);
                }
                document.getElementById('randomfield').value = ChangeCaptcha;


            function checkform(theform) {
            var why = "";

			if(theform.CaptchaEnter.value == ""){
			why += "- Please Enter CAPTCHA Code.\n";
			}
			if(theform.CaptchaEnter.value != ""){
			if(check() == false){
			why += "- The CAPTCHA Code Does Not Match.\n";
			}
			}
			if(why != ""){
			alert(why);
			return false;
			}
			}


            function check() {
                if(document.getElementById('CaptchaEnter').value == document.getElementById('randomfield').value ) {
                    return true;
                }
                else {

                    alert('Please re-check the captcha');
                    return false
                }
            }

		</script>

	</body>
</html>




